* {
background-color: rgb(22, 22, 22);
color: white;
}

.App > .poster-row {
  overflow-x:auto;
  flex-wrap: nowrap;
}

.poster-row {
  display: flex;
}
.img-div{
  height: 12em;
  display: flex;
  align-items: stretch;
  padding: 0.2em;
  transition: transform 0.5s;
}

.img-div:hover {
  transform: scale(1.1);
}
.heading-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
}

.heading-row > input {
}